*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 375px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 0 16px;
}

nav{
    height: 86px;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
}

#logo{
    width: 70px;
    height: 43px;
    background-image: url(./images/logo.svg);
    background-repeat: no-repeat;
    transform: scale(0.75);
    position: relative;
}

#menuButton{
    width: 42px;
    height: 20px;
    background-image: url(./images/icon-menu.svg);
    background-repeat: no-repeat;
}


#banner{
    height: 300px;
    background-color: yellow;
    background-image: url(./images/image-web-3-mobile.jpg);
    background-size: contain;
}

article{
    height: 280px;
}

article h1{
    font-size: 45px;
    line-height: 40px;
    padding: 25px 0;
    
}

article p{
    font-size: 17px;
}

#button{
    height: 120px;
}

#button a{
    padding: 15px 40px;
    background-color: rgb(255, 85, 85);
    position: relative;
    top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: white;
    letter-spacing: 3px;

}

#articleSector{
    margin: 0 auto;
    height: 488px;
    background-color: #00001A;
    color: white;
    padding: 0 20px;
}

#articleSector h1{
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(255, 197, 88);
}

.sector hr{
    border: 1px solid #cecfe1ad;
    border-top-style: none;
    border-bottom-style: groove;
}

.sector h2{
    padding-top: 20px;
    padding-bottom: 20px;
}

.sector p{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 17px;
    color: #CECFE1;
}

#offers{
    height: 600px;
    padding-top: 40px;
}

.offersContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.offersHeading h2{
    font-size: 20px;
    padding-bottom: 10px;
}

.offersInfo{
    height: 129px;
}



.image1{
    background-image: url(./images/image-retro-pcs.jpg);
}

.image2{
    background-image: url(./images/image-top-laptops.jpg);
}

.image3{
    background-image: url(./images/image-gaming-growth.jpg);
}

.offersImage{
    width: 100px;
    height: 129px;
    background-color: blue;
    background-size: cover;
}



.offersInfo{
    width: 250px;
    padding: 0 20px;
}





